
*{
margin:0;
padding:0;
}

header{
    height: 960px;
    background-image: url(../img/indepen_sq.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column
}

header .nav-container .top{
     position: fixed;
    background-color: lightskyblue;
}

.top{
       background-color: ghostwhite;
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    list-style: none;
    opacity: 0.5
}

.top a{
    margin-top:5px; 
    display: block;
    padding: 10px;
    background:black ;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    opacity: 1.5;
}
.top a:hover{ 
    transition-duration: .40s;
    background: yellow;
    color: black;
 }

.banner{ 
    margin-bottom: 130px;
    flex: 1 0 auto;
display: flex;
    align-items: center;
    justify-content: center;
}

.banner-card{
    flex: 0 0 50%;
    text-align: center;
  }
.banner-card h3 { 
    opacity: 0.5;
    background-color: azure;
    font-size: 50px;
}
/**********************************/
@media screen and (max-width:1024px){
        header{
        width: 100%;
        height: 1300px;
        }
      }

@media screen and (max-width:768px){
        header{
        width: 100%;
        height: 990px;
        }
      }
@media screen and (max-width:600px){
    .top{
        width: 84%;
    }     
    header{
        width: 100%;
        height: 1250px;
        }
      }
@media screen and (max-width:414px){
        
    header{
        width: 100%;
        height: 900px;
        }
      }
@media screen and (max-width:411px){
    .top{
        width: 100%;
    }     
    header{
        width: 100%;
        height: 900px;
        }
      }
@media screen and (max-width:375px){
    .top{
        width: 100%;
    } 
    
   }
@media screen and (max-width:360px){
    .top{
        width:100%;
    } 
    header{
        width: 111%;
        height: 700px;
    }
   .banner-card{
       margin-top: 80px;
    } 
   .banner-card h3 {
       font-size: 40px;
    } 
   }
@media screen and (max-width:320px){
    .top{
        width: 100%;
    }     
    header{
            width: 139%;
          }
      }
/*******************************/

    .vision{
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    height: 200px;
}
.vision h2{ 
    font-size: 100px;
    color:midnightblue;
    background-color: lightgrey;
}
.vision h4{ 
    font-family: Comic Sans MS;
font-size: 20px;
}
/********************************************/
@media screen and (max-width:1024px){
.vision{
    height: 300px;
   margin-bottom: 0px;
    }
}
@media screen and (max-width:768px){
.vision{
    height: 300px;
   margin-bottom: 0px;
    }
}
@media screen and (max-width:414px){
.vision{
    height: 350px;
   margin-bottom: 0px;
    }
}
@media screen and (max-width:411px){
.vision{
    height: 350px;
   margin-bottom: 0px;
    }
}
@media screen and (max-width:375px){
.vision{
    height: 400px;
    }
}
@media screen and (max-width:360px){
.vision{
    width: 111%;
    height: 350px;
   margin-bottom: 1px;
    }
    .vision h2{
        font-size: 90px;
    }
}
@media screen and (max-width:320px){
.vision{width: 139%;
    height: 370px;
    }
    .vision h2{
    font-size: 55px;
    }
    }
/**********************************/

.tour-menu{
    
    background-color: lightblue;
    height: 80px;
    margin: auto;
    justify-content: center;
    text-align: center;
    font-size: 35px;
     color: lightslategray;
}
/**********************************/
@media screen and (max-width:411px){
    .tour-menu{
        
    height: 100px;
    }
}
@media screen and (max-width:360px){
    .tour-menu{
        width: 111%;
    height: 100px;
    }}
@media screen and (max-width:320px){
.tour-menu{
        width: 139%;
    height: 70px;
    }    
}

/**********************************/

.news img{
    display: block;
    align-items: center;
    	width: 100%;
    height: 200px;
}

.board{
    justify-content: center;
    align-items: center;
            display: flex;
flex-wrap: wrap;
    width: 100%;
                height: 100%;
}
.news{
    float: right;
    background-color: lightgray;
    text-align: center;
    display: block;
	width: 400px;
    padding: 2px;
	margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
box-shadow: 0px 3px 5px 2px lightgrey;
    height: 250px;
justify-content: center;    
}
.news a{
    text-decoration: none;
display: block;
}
/*********************************/
@media screen and (max-width:768px){
.news{
	width: 300px;
    height: 280px
}
}
@media screen and (max-width:411px){
   
}
@media screen and (max-width:360px){
    .board{
            width: 111%;
}
}
@media screen and (max-width:320px){
    .board{
            width: 139%;
}
}
/****************************/
.abt{
    width: 100%;
    display: block;
     background: url(/img/about_us/IMG-20190704-WA0015.jpg);
background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height:1100px;
    background-color:red;
}

.about-us {
        display: block;
    width: 620px;
    margin: auto;
    justify-items: center;
    text-align: center;
    height: 200px;
    font-family: sans-serif;
    font-size: 25px;
    background-color:red;
 }
.about-us #ab_us2{
    background-color:red;
    color: aliceblue;
    text-align: center;
    justify-content: space-around;
    
}
#ab_us1{background-color:red;
    color: blue;
}
#ab_us2{background-color:red;
    margin-top:0px;    
    }
.team{background-color:red;
     float: left;
    background-color:silver;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	width: 18.0%;
    margin: auto 7%;
    box-shadow: 0px 3px 5px 2px lightgrey;
justify-content: center;
    height: 80%;
align-items: center;
    justify-items: center;
}

 .team .as{background-color:red;
        font-size: 25px;
    }
    .team h2{background-color:red;
        font-size: 100%;
        font-weight: 900;
    }
    .abt i{
    font-size: 350%;
    }

.as{
    margin: auto;
    display: block;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color:red;
}
/********************************************
              screen size/
/********************************************/
@media screen and (max-width:1024px){
   .abt{
        height: 900px;
    }
    
    #ab_us1{
        width: 100%;
        margin-left: 160px;
        justify-content: center;
        font-size: 190%;
    }
    .abt i{
    font-size: 170%;
    }

.team{
    
    width: 100%;
       height: 270px;
        margin: 0% auto ;
    margin-top: 50px;
        margin-bottom: 1px
    } 
    #ab_us2{
    width: 700px;
        font-size: 28px;
    }
    .about-us{
        margin-left: 160px;
        width: 400px;
            
    }
    .abus{
        font-size: 28px
    }
       }
@media screen and (max-width:768px){
       #ab_us1{
        margin-left: 190px;
            }
    .abt i{
    font-size: 140%;
    }
.team{
       height: 240px;
    } 
    #ab_us2{
        font-size: 27px;
    }
    .about-us{
            margin-left: 30px;        
    }
    .abus{
        font-size: 22px
    }
       }
@media screen and (max-width:600px){
       #ab_us1{
        margin-left: 80px;
            }
    .abt i{
    font-size: 140%;
    }
.team{
       height: 270px;
    } 
    #ab_us2{
        font-size: 27px;
    }
    .about-us{
        height: 300px;
    width: 300px;
            margin-left: 0px;        
    }
    .abus{
        font-size: 22px
    }
       }
@media screen and (max-width:414px){
.abt{
    height: 300px;
        height: 1300px;
    }
   .team{
       height: 300px;
    }  
    #ab_us1{
        font-size: 150%;
    }
    .abt i{
    font-size: 130%;
    }

.team{
    
    width: 100%;
       height: 320px;
        margin: 1% auto ;
    margin-top: 50px;
        margin-bottom: 1px
    } 
    #ab_us2{
            font-size: 15px;
    }
#ab_us2{
        font-size: 20px;
    }
    .about-us{
        margin-right: 5px;
        width: 400px;
            
    }
    .abus{
        font-size: 16px
    }
       }
@media screen and (max-width:411px){
  .abt{
  
        height: 1300px;
    }
.about-us{
        margin-right: 0px;
        height: 250px
    }
    #ab_us1{
        height: 40px;
       margin-left: 0px;
        font-size: 130%;
    }
    #ab_us2{
        width: 410px;
        font-size: 21px;
    }
       }
@media screen and (max-width:375px){
.abt{
    width: 90%;
        }
    .abt{
          height: 1300px;
    }
.about-us{ 
    width: 111%;
        }
        #ab_us2{
        width: 375px;
      }
    .team{
        width: 111%;
          } 
  
       }
@media screen and (max-width:360px){
.abt{
    width: 111%;
        height: 1300px;
    }
.about-us{
        margin-right: 5px;
        height: 250px
    }
    #ab_us1{
        height: 40px;
       margin-left: 0px;
        font-size: 130%;
    }
    #ab_us2{
        width: 400px;
        font-size: 21px;
    }
       }
@media screen and (max-width:320px){
.abt{
    width: 138%;
        }
    .abt{
          height: 1300px;
    }
.about-us{ 
    width: 100%;
        }
        #ab_us2{
        width: 440px;
      }
    .team{
        width: 100%;
          } 
  
       }
/******************************************/

form{  
        justify-content: center;
   background-image: url(/img/tour_pics/IMG-20191103-WA0005.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    color: white;
    text-align: center;
height: 450px;
    margin:auto;

    }
.for{
    border: 2px solid grey;
    color: white;
    justify-content: center;
    text-align: center;
    height:80%;
    margin: auto 50%; 
    font-family: fantasy;
    font-size: 21px;
}
.for p{
    margin: 10px
}
 #signup{
    margin: 0px auto;
}

form input{
    height: 40px;
    width: 300px;
}
button{
    margin-top: 15px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius:30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #4A69FF;
    height: 40px;
    width: 120px;
}
/**************************************/
@media screen and (max-width:1028px){
    form{
        width: 100%;
    }
    }
@media screen and (max-width:768px){
    form{
        width: 100%;
    }
    }

@media screen and (max-width:414px){
    form{
        width: 100%;
    }
    }
@media screen and (max-width:411px){
    }   
@media screen and (max-width:360px){
    form{
        width: 111%;
    }
    }
@media screen and (max-width:320px){
    form{
        width: 125%;
    }
    }
/*********************************************/
.newsvideo{
 margin: 1% 27%;
    
}
.newsvideo video{
    width: 600px;
    height: 450px
}
/*********************************************/
@media screen and (max-width:1024px){
   .newsvideo video{
       margin:auto;
       margin-left: -170px;
          width: 800px;
    height: 470px
    } }
@media screen and (max-width:768px){
   .newsvideo video{
       margin:auto;
       margin-left: -198px;
          width: 750px;
    height: 470px
    } }
@media screen and (max-width:414px){
   .newsvideo video{
       margin: 10% auto;
          width: 410px;
    height: 300px
}
.newsvideo{
 margin: 0px;
}
 }   
@media screen and (max-width:411px){
   .newsvideo video{
      background-color: RED; 
       margin: 10% auto;
          width: 410px;
    height: 300px
}
.newsvideo{
 margin: 0px;
 background-color: dimgrey;
    
}
 }
@media screen and (max-width:375px){
   .newsvideo video{
       margin: 10% auto;
          width: 375px;
    height: 300px
}
.newsvideo{
 margin: 0px;
 background-color: dimgrey;
    
}
 }
@media screen and (max-width:360px){
   .newsvideo video{
       margin: 10% auto;
          width: 400px;
    height: 300px
}
.newsvideo{
 margin: 0px;
    width: 400px;
 background-color: dimgrey;
    
}
 }
@media screen and (max-width:320px){
.newsvideo{
    width: 400px;
 background-color: none;
}
 }
/**********************************************/
.promotion{
    width: 100%;
    height: 100%;
    background-color: YELLOW;
}
/*******************************************/





/*********************************************/

footer{
    margin-bottom: 10px;
    border-bottom: solid grey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
background-color:#58595B;
   height:600px;
    border-bottom-width: medium;
    margin: auto;
    justify-content: center
}

footer #contact{
    text-align: center;
         list-style: none;
    justify-content: center;
      margin:auto 2.0%;
}
footer #contact li{
    
    text-align: center;
    justify-content: center;
    color: white;
     font-size: 23px;
    text-align: center;
margin-top: 10px;
}
footer a{
    color: aliceblue;
}

#mybut{
    
    justify-content: center;
color: white;
    text-align: center;
    font-family:sans-serif;
    font-size: 20px;
text-decoration: underline
}
#contact a:hover{
    color: black;
    background-color: yellow;
    opacity: 0.5;
}
#contact {
    border-left:1px solid aliceblue;
    justify-content: center;
        height: 70%;
    width: 20%;
}
footer a{
    text-decoration: none;
}
/********************************************
screen size/
/*******************************************/
@media screen and (max-width:1024px){
 
footer{
      height:600px;
    }

footer #contact{
      margin-left: 2.9%;
margin-right:2.1%;
    margin-top: 15px;
    }
footer #contact li{
         font-size: 21px;
    margin-top: 15px;
}

#mybut{
    font-size: 20px;
text-decoration: underline
}
#contact {
    border-left:none;
        height: 65%;
    width: 20%;
}
footer a{
    text-decoration: none;
}   }

@media screen and (max-width:768px){
  footer{
     height:100%;
    }
    #contact {
        height: 250px;
        width: 490px;
        flex-direction: column;
        border-left: none;
    }
    }
@media screen and (max-width:414px){
  footer{
     height:100%;
    }
    #contact {
        height: 320px;
        width: 350px;
        flex-direction: column;
        border-left: none;
    }
    }
@media screen and (max-width:411px){
  footer{
     height:100%;
    }
    #contact {
        height: 350px;
        width: 350px;
        flex-direction: column;
        border-left: none;
    }
    }
@media screen and (max-width:360px){
  footer{
    width:111%;
    }
    }

@media screen and (max-width:320px){
  footer{
    width:125%;
    }
    }
/**************************************/

center{
    margin-top: 10px;
    height: 100%;
    border-top :2px solid white;
    color: white;
  background-color:#58595B;
width: 100%;
}
 #media{
     color: aliceblue;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 50px;
    border-bottom:3px solid aliceblue;
}
center a{
    justify-content: center;
    font-size: 15px;
    margin: 1% 5%;
    color: lightslategray;
}
center i{
    color: white;
}
center i:hover{
    color: lightslategray;
    background-color: white;
}
center h4{color: antiquewhite;
    margin: 2% 0px 0px 0px;
}
/********************************************/
@media screen and (max-width:360px){
    center{
        width: 111%
    }
}
@media screen and (max-width:320px){
    center{
        width: 125%
    }
}

    


