*{
margin: 0;
    padding: 0;
    }
.top{
    text-align: center;
    width: 100%;
    position:fixed;
    height: 30px;
     list-style: none;
background-color: white;
}
.top li a{
    border: 2px solid lightblue;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 2px;
        margin-top: 0px;
    float: left;
    color:black; 
margin-left: 170px;
    text-decoration: none;
}
.top :hover a{
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    background-color: yellow;
}
.menu-pic{
    justify-content: center;
     height: 780px;
 background-image: url(../img/indepen_sq.jpg);
    background-size: cover;
}

.top-p{
    margin-top: -740px
}
.top-point{
    opacity: 0.8;
    padding: 0px;
text-align:end;   
}
.top-point a{
    padding: 2px;
    text-decoration: none;
    height: 5px;
           margin:9px 2px 0px 10px;
     border-bottom-left-radius: 50px;
    border-bottom-right-radius:50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: white;
    color: green;
}
.topics{
      width: 100%;
    height: 100px;
}
.topics h5{
    text-align: center;
    font-family: cursive;
    font-size: 70px;
    margin-top: 320px;
}
.vision{
    justify-content: center;
    color:midnightblue;
    background-color: lightgrey;
    text-align: center;
    margin-top: 320px;
    width: 100%;
    height: 200px;
}
.vision h2{
    font-size: 100px;
}
.vision h4{
      font-family: Comic Sans MS;
}
.tour-menu{
    height: 110px;
    margin-top:70px;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
    font-size: 35px;
       
    color: lightslategray;
}

.news:hover{
    transition-property: .news1 ;
    transition-duration: 2s;
    transition-delay: 0.1s;
    transform: scale(1.1);
}
.news{
    background-color: white;
    text-align: center;
     border-bottom-left-radius: 30px;
    border-bottom-right-radius:30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: block;
	width: 20.5%;
	float: left;
    padding: 2px;
	margin: 0px 5px 25px 30px;
box-shadow: 0px 3px 5px 2px lightgrey;
    height: 300px;
       }
.news1{
 	    width: 0 auto;
	justify-content: center;
}
.news a{
    text-decoration: none;
  ;
}
.news1 h2, .news1 p{
     text-decoration: none;
    list-style: none;
    padding: 3px 5px;
        text-align: center;
}


.news1 img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
	width: 100%;
    height: 200px;
}
.bo {
    height: 30px;
    text-align: center;
    font-family: inherit;
    font-size: 30px;
    margin-top: 700px;
    margin-bottom: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid;
    background-color: grey;
    color: white;
}
.bo h5 a{
    background-color: lightskyblue;
    text-decoration: none;
    color: white
}
.food{
    position:inherit;
    height: 700px;
    background: url(../img/kin.jpg);
    background-size: cover;
    padding: 2px;
    display: block;
    }
/*.food img{
    display: flex;
    float: left;
    padding: 5px;

}
.food-pic{
    margin-left: 10px;
    margin-top: 30px;
width: 700px;
    height: 100px

}
.moment{
    background: url(../img/kin.jpg);
    background-size: cover;
}
*/
footer{
    margin: 50px 0px 0px 0px;
  background-color:darkslategray;
  height: 150px;
   }
footer ul{
        list-style: none;
    justify-content: space-around;
  float: left;
  margin-left: 100px;
    padding: 7px 0px;
    width: 200px;
}
footer ul li{
    margin: 0px 10px 0 0px;
    padding:0px 0px;
    font-size: 15px;
    color: white;
    text-align: center;
}
footer div{
      height: 40px;
  clear: both;
  width: 100%;
  justify-content: center;
    }
footer div a{
    font-family: cursive;
}
footer ul h2{
    text-align: center;
}
footer a{
    padding: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    text-decoration: none;
    color: black;
}
center{
    background-color:midnightblue;
}
center a{
    color: lightsteelblue;
margin-left:20px ;
justify-content: space-around;
}