*{
    margin: 0;
    padding: 0;
}
header{
    height: 660px;
    background-image: url(img/indepen_sq.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column
}
header .nav-container .top{
     position: fixed;
    background-color: lightskyblue;

}
.top{
    background-color: ghostwhite;
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    list-style: none;
    opacity: 0.5
}
.top a{
    margin-top:5px; 
    display: block;
    padding: 10px;
    background:black ;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    opacity: 1.5;
}
.top a:hover{
    transition-duration: .40s;
    background: lightblue;
    color: black;
  
}

.banner{
    flex: 1 0 auto;
display: flex;
    align-items: center;
    justify-content: center;
}
.banner-card{
    flex: 0 0 50%;
    text-align: center;
  }
.banner-card h3 {
    opacity: 0.5;
    background-color: azure;
    font-size: 50px;
}



.vision{
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    height: 200px;
}
.vision h2,h4{
    color:midnightblue;
    background-color: lightgrey;
}
.vision h2{
    font-size: 100px;
}
.vision h4{
    font-family: Comic Sans MS;
}

.tour-menu{
    height: 110px;
    margin-top:70px;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
    font-size: 35px;
           color: lightslategray;
}
.new{
        height: 500px;
   }

.news{
    background-color: lightgray;
    text-align: center;
     border-bottom-left-radius: 30px;
    border-bottom-right-radius:30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: block;
	width: 20.5%;
	float: left;
    padding: 2px;
	margin: 0px 50px 25px 100px;
box-shadow: 0px 3px 5px 2px lightgrey;
    height: 300px;
       }
.news1{
 	    width: 0 auto;
	justify-content: center;
}
.news a{
    text-decoration: none;
  ;
}
.news1 h2, .news1 p{
     text-decoration: none;
    list-style: none;
    padding: 3px 5px;
        text-align: center;
}


.news1 img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
	width: 100%;
    height: 200px;
}
.tour-list{
    background-color: darkgray;
}


.about-us {
      background: url(img/about_us/IMG-20190704-WA0015.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 850px;
     text-align: center;
 }
.about-us #ab_us2 {
margin-left: 300px;
    justify-content: center;
    width: 700px;
    height: 100px;
            color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;  
}

.about-us #ab_us2 {
        margin-top: 5px;
    text-align: center;
            font-family: sans-serif;
    font-size: 25px;
 }
.about-us #ab_us1{
      color: white;
margin-top: 230px;
    text-align: center;
    font-size: 50px
} 
#ab_us1{
    margin-left: 0px
}

.team{
    padding: 5px;
    background-color: white;
      margin-top: 80px;
      width: 100%;
    margin-left: 95px;
    width: 23.0%;
    float: left;
    height: 400px;
      
}
.team #team-1{
    margin-left: 10px;
    margin-top: 10px;
     align-self: center;
}

form{  border-bottom-left-radius: 30px;
    border-bottom-right-radius:30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: lightsteelblue;
        height: 150px;
    width: 400px;
  margin-top: 30px;
    margin-bottom: 20px;
	font-family: Georgia;
	text-align: center;
	background-color:deepskyblue;
    margin-left: 470px;
   
}
form .for,p{
 padding: 3px;
font-size: 18px

}
form input{
    height: 20px;
    width: 300px;
}
button{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius:30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: yellow;
    height: 30px;
    width: 100px;
}
footer{
         background-color:slategray;
           height: 250px;
  
}
footer img{
        margin: 30px 10px 0px 10px;
    margin-right: 10px;
}

footer ul{
          list-style: none;
    justify-content: space-around;
  float: left;
    margin-top: 30px;
  margin-left: 80px;
        width: 250px;

}
footer ul li{
    margin: 2px 0px 0px 0px;
     font-size: 18px;
    color: black;
    text-align: center;
}
footer a{
width: 300px;
    font-family: cursive;
}
footer ul h2{
    color: white;
    margin-top: px;
    text-align: center;
}

footer a{
    padding: 3px;
    background-color: black;
    text-decoration: none;
    color: white;
}
center{
    height: 25px;
    background-color:lightsteelblue;

}
center a{
    color: light;
margin-left:20px ;
margin-right: 50px;
    justify-content: space-around;
}