*{
margin:0;
padding:0;
}
header{
    height: 960px;
    background-image: url(img/indepen_sq.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column
}
header .nav-container .top{
     position: fixed;
    background-color: lightskyblue;
}
.top{
    background-color: ghostwhite;
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    list-style: none;
    opacity: 0.5
}
.top a{
    margin-top:5px; 
    display: block;
    padding: 10px;
    background:black ;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    opacity: 1.5;
}
.top a:hover{
    transition-duration: .40s;
    background: yellow;
    color: black;
 }
.banner{
    margin-bottom: 130px;
    flex: 1 0 auto;
display: flex;
    align-items: center;
    justify-content: center;
}
.banner-card{
    flex: 0 0 50%;
    text-align: center;
  }
.banner-card h3 {
    opacity: 0.5;
    background-color: azure;
    font-size: 50px;
}
/*******************************/
.vision{
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    height: 200px;
}
.vision h2{
    font-size: 100px;
    color:midnightblue;
    background-color: lightgrey;
}
.vision h4{
    font-family: Comic Sans MS;
}


/**********************************/

.tour-menu{
    background-color: red;
    height: 110px;
    justify-content: center;
    text-align: center;
    font-size: 35px;
     color: lightslategray;
}

/**********************************/

.news img{
    align-items: center;
    	width: 100%;
    height: 200px;
}

.board{
    justify-content: center;
    align-items: center;
            display: flex;
flex-wrap: wrap;
    width: 100%;
                height: 100%;
}
.news{
    float: right;
    background-color: lightgray;
    text-align: center;
    display: block;
	width: 400px;
    padding: 2px;
	margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
box-shadow: 0px 3px 5px 2px lightgrey;
    height: 250px;
justify-content: center;    
}
.news a{
    text-decoration: none;
display: block;
}
/****************************/
.abt{
    width: 100%;
    display: block;
     background: url(img/about_us/IMG-20190704-WA0015.jpg);
background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height:800px;
}

.about-us {
        display: block;
    width: 620px;
    margin: auto;
    justify-items: center;
    text-align: center;
    height: 200px;
    font-family: sans-serif;
    font-size: 25px;
 }
.about-us #ab_us2{
    color: aliceblue;
    text-align: center;
    justify-content: space-around;
    
}
#ab_us1{
    color: blue;
}
.team{
     float: left;
    background-color:silver;
    text-align: center;
    display: block;
	width: 16.5%;
    padding: 2px;
    margin: auto 8%;
    box-shadow: 0px 3px 5px 2px lightgrey;
justify-content: center;
    height: 55%;
align-items: center;
    justify-items: center;
}

.as{
    margin: auto;
    display: block;
    text-align: center;
    justify-content: space-around;
    width: 100%;
}
/******************************************/


form{  
        justify-content: center;
   background-image: url(img/tour_pics/IMG-20191103-WA0005.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    color: white;
    text-align: center;
height: 450px;
    margin:auto;

    }
.for{
    border: 2px solid grey;
    color: white;
    justify-content: center;
    text-align: center;
    height:80%;
    margin: auto 50%; 
    font-family: fantasy;
    font-size: 21px;
}
.for p{
    margin: 10px
}
 #signup{
    margin: 0px auto;
}

form input{
    height: 40px;
    width: 300px;
}
button{
    margin-top: 15px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius:30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #4A69FF;
    height: 40px;
    width: 120px;
}
/*********************************************/
.newsupdate{
    
    height: 100px;
    background-color: red;
}

.promotion{
    height: 200px;
    background-color: YELLOW;
}
/*********************************************/

footer{
    border-bottom:2px solid grey;
       display: block;
    float: left;
background-color:#58595B;
   height:100%;
  }

footer #contact{
          list-style: none;
    justify-content: space-around;
  float: left;
    margin:0% 1%;
border-right:2px solid aliceblue;
}
footer #contact li{
    color: white;
    margin: 3% ;
     font-size: 23px;
    text-align: center;

}
footer a{
    color: aliceblue;
        padding: 1px;
width: 200px;
}

#mybut{
    justify-content: center;
color: white;
    text-align: center;
    font-family:sans-serif;
    font-size: 20px;
text-decoration: underline
}
#contact a:hover{
    color: black;
    background-color: yellow;
    opacity: 0.5;
}
#contact {
    justify-content: center;
        height: 70%;
    width: 22%;
}
footer a{
    text-decoration: none;
}
/**************************************/

center{
    margin-top: 10px;
    height: 100%;
    border-top :2px solid white;
    color: white;
  background-color:#58595B;
width: 100%;
}
 #media{
    width: 250px;
    margin-top: 10px;
    margin-bottom: 50px;
    border-bottom:3px solid aliceblue;
}
center a{
    justify-content: center;
    font-size: 15px;
    margin: 1% 5%;
    color: lightslategray;
}
center i{
    color: white;
}
center i:hover{
    color: lightslategray;
    background-color: white;
}
center h4{
    margin: 2% 0px 0px 0px;
}