*{
margin:0;
padding:0;
}

header{
color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header .nav-container .top{
     position: fixed;
    color: aliceblue;
}
.top{
    background-color:white;
    display: flex;
    text-align:end;
    width: 100%;
    height: 120px;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-end;
box-shadow: 0px 3px lightgrey;    
}
.top a{
        margin-top:5px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    margin:30px 10px auto 30px
}

.top a:hover{
    transition-duration: .40s;
    background: lightgrey;
    color: black;
 }

.hea1{
    margin-top: 10px;
    height:100px;
    border-radius: 200px;
   margin-right: 900px
}
/**********************************/
@media screen and (max-width:1280px){

.top a{
    margin:30px 10px auto 30px
}
.hea1{
   margin-right: 450px
}
}
@media screen and (max-width:414px){
.top a{
    margin:30px 10px auto 20px
}
.hea1{
   margin-right: 450px
}
}
/************************************/

.post{
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 220px;
background-color:#1B67E8
}
.post h5{
    justify-content: center;
    text-align: center;
    margin-top: 130px;
    font-size: 40px;
    color:white;
    font-family: Comic Sans MS;
}

/************************************/
@media screen and (max-width:320px){

.post{
    width: 390%;
    height: 220px;
}
}
@media screen and (max-width:375px){
.post{
    width: 335%;
    }
    }
@media screen and (max-width:414px){
.post{
    width: 304%;
    }
    }
@media screen and (max-width:414px){
.post{
    width: 322%;
    }
    
}

/*************************************************/
.red{
    display: flex;
 flex-direction: row;   
flex-wrap: wrap;
    color: white;
    margin-top: 50px;
    height: 400px;
}
.red img{
    width: 250px;
    height: 250px;
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 10px;
    border-radius: 200px;

}
.tour_com{
    justify-content: center;
    text-align: center;
    font-size: 40px;
    width:700px;
    height: 300px;
    margin-top: 40px;
margin-right: 10px;
    margin-left: 50px;
    background-color: #0070A5;
        color: white;
    }
.tour_com h6{
    height: 200px;
    width: 600px;
    margin-top: 35px;
    margin-left: 00px
}
/**************************************/
@media screen and (max-width:320px){
.red{
    margin-top: 50px;
}
.red img{
    margin-left: 50px;
    }
.tour_com{
    margin-top: -350px;
    margin-left: 400px;
    }
}
@media screen and (max-width:375px){
.red img{
    margin-left: 20px;
    }
.tour_com{
    margin-top: -350px;
    margin-left: 350px;
    }
}
@media screen and (max-width:414px){
.red img{
    margin-left: 20px;
    }
.tour_com{
    margin-top: -350px;
    margin-left: 350px;
    }
}

/*************************************/
.black{
    display: flex;
 flex-direction: row;
    flex-wrap: wrap;
    color: white;
    margin-top: 20px;
    height: 400px;
}
.black img{
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-left: 150px;
    border-radius: 200px;

}
.tour_com1{
    justify-content: center;
    text-align: center;
    font-size: 40px;
    width:200px;
    height: 350px;
    margin-top: 10px;
    border-left: 1px solid black;
    color: gray;
    margin-left: 150px
    }
.tour_com1 h6{

    width: 600px;
    margin-top: 50px;
            
}
/*************************************/
@media screen and (max-width:320px){
.black img{
    margin-left: 150px;
    }
.tour_com1{
    margin-left: 500px;
    margin-top: -350px;
    }
.tour_com1 h6{
    width: 600px;
}
}
@media screen and (max-width:375px){
.black img{
    margin-left: 150px;
    }
.tour_com1{
    margin-left: 500px;
    margin-top: -350px;
    }
.tour_com1 h6{
    width: 600px;
}
}
@media screen and (max-width:414px){
.black img{
    margin-left: 150px;
    }
.tour_com1{
    margin-left: 500px;
    margin-top: -350px;
    }
.tour_com1 h6{
    width: 600px;
}
}

/**************************************/
.cream{
    display: flex;
 flex-direction: row;   
    color: white;
    margin-top: 20px;

    height: 400px;
}

.cream img{
    width: 270px;
    height: 250px;
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 270px;
    border-radius: 250px;

}
.tour_com2{
    justify-content: center;
    text-align: center;
    font-size: 40px;
    width:650px;
    height: 300px;
    margin-top: 10px;
margin-left: 50px;
    border-left: 1px solid black;
    color: gray;
    }
.tour_com2 h6{

    width: 600px;
    margin-top: 50px;
            
}
/*************************************/
@media screen and (max-width:320px){
.cream img{
    width: 300px;
    height: 240px;
    

}
.tour_com2{
    margin-left:0px;
    }
}
@media screen and (max-width:375px){
.cream img{
    width: 300px;
    height: 240px;
    }
.tour_com2{
    margin-left:0px;
    }
}
@media screen and (max-width:414px){
.cream img{
    width: 300px;
    height: 240px;
    }
.tour_com2{
    margin-left:0px;
    }
}

/**************************************/
.post2{
    margin-bottom: 100px;
    background-color: lightcyan;
   width: 100%;
    display:block;
    height: 550px;
justify-content: center;
}
.post2 img{
margin-top: 20px;
    justify-content: center;
    width: 60%;
    height: 400px;
    box-shadow: 1px 2px 0px 0px; 
margin:auto 19%
}
.post2 h4{
    text-align: center;
    width: 40%;
    justify-content: center;
    font-family:inherit;
font-size: 30px;
    margin-top: 20px;
    margin: auto 30%
}
/**************************************/
@media screen and (max-width:1440px){
    .post2 img{
      margin-left: 20.5%  
    }

    .post2 h4{
        margin-left: 31%
    }
}
@media screen and (max-width:320px){
.post2 img{
    width: 150%;
    margin:auto 120%
}
.post2 h4{
    width: 150%;
    margin: auto 120%
}
    }
@media screen and (max-width:375px){
.post2 img{
    width: 150%;
    margin:auto 90%
}
.post2 h4{
    width: 150%;
    margin:3% 90%
}
    }
@media screen and (max-width:414px){
.post2 img{
    width: 150%;
    margin:auto 77%
}
.post2 h4{
    width: 150%;
    margin:3% 78%
}
    }

/****************************************/
.pink{
display: block;
    justify-content: center;
        height: 450px;
}

.pink video{
    justify-content: center;
    height: 350px;
    width: 600px;
        
    margin-left: 35%;
}
.pink h4{
    margin-left: 2%;
    text-decoration: underline;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    height: 50px
}
/*********************************/
@media screen and (max-width:1440px){
.pink video{
    margin-left: 30%;
}
}
@media screen and (max-width:1280px){
    .pink video{
        margin-left: 28%
    }
    .pink h4{
        justify-content: center;
        margin-left: 4.1%;
    }
}
@media screen and (max-width:320px){
    .pink video{
        margin-left: 100%
    }
    .pink h4{
width: 100%;
        margin-left: 145%;
    }
}
@media screen and (max-width:375px){
    .pink video{
        margin-left: 90%
    }
    .pink h4{
width: 100%;
        margin-left: 120%;
    }
}
@media screen and (max-width:414px){
    .pink video{
        margin-left: 80%
    }
    .pink h4{
width: 100%;
        margin-left: 104%;
    }
}

    /********************************/
.white{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    height: 350px;
justify-content: center;
margin:5% auto;
}
.white img{
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 280px;
    border-radius: 200px;
margin: auto;
}
/*************************************/
@media screen and (max-width:320px){
.white{
width: 220%;
margin:auto 85%;
height: 250px
    }
.white img{
    width: 200px;
    height: 180px;
margin: 2%;
}
    }
@media screen and (max-width:375px){
.white{
width: 220%;
margin:auto 55%;
height: 250px
    }
.white img{
    width: 200px;
    height: 180px;
margin: 2%;
}
    }
@media screen and (max-width:414px){
.white{
width: 220%;
margin:auto 40%;
height: 250px
    }
.white img{
    width: 200px;
    height: 180px;
margin: 2%;
}
    }

/************************************/

.orange{
    text-align:center;
    height: 100px;
    margin: auto;
    text-decoration: none;
    width: 40%;
}
.orange a{
     text-decoration: none;
}
.orange a :hover{
background-color: lightblue
}
#dist{
    
    color: grey;
     font-size: 40px;
    border: 2px solid black;
    border-radius: 20px;
}

/*********************************/
@media screen and (max-width:1280px){
    .orange{
        width: 50%
    }
}
@media screen and (max-width:320px){
.orange{
    width: 190%;
margin-left: 100%;
    }
    }
@media screen and (max-width:375px){
.orange{
    width: 190%;
margin-left: 73%;
    }
    }
@media screen and (max-width:414px){
.orange{
    width: 190%;
margin-left: 60%;
    }
    }

/*************************************/
form{
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	font-family: Georgia;
	text-align: center;
	border:2px solid lightblue;
	background-image:url(/img/about_us/IMG-20190704-WA0015.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    transform:translateY();
    background-color: #74F6F7;
height: 750px;
}
.for{
    margin: auto;
}

form p,h1{
    margin: 10px;
    font-size: 30px;
    
} 
form input{

    font-size: 15px;
    height: 40px;
    width: 500px;
}
textarea{
    font-size: 25px;
    height: 150px;
    width: 500px;
}
form button{
    font-size: 15px;
    background-color: lightblue;
height: 35px;
    width: 150px;
    box-shadow: 1px 1px 1px 1px; 
}
/**************************************/
@media screen and (max-width:320px){
form{
    border: none;
width: 390%;
 }
}
@media screen and (max-width:375px){
form{
    border: none;
width: 335%;
 }
}
@media screen and (max-width:414px){
form{
    border: none;
width: 304%;
 }
}


/*************************************/
footer{
    
    margin-bottom: 10px;
    border-bottom:2px solid grey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
background-color:#58595B;
   height:600px;
 border-bottom-width: medium;
    justify-content: center
}

footer #contact{
    display: block;
    text-align: center;
         list-style: none;
    justify-content: center;
      margin:2% 2.5%;
}
footer #contact li{
    
    text-align: center;
    justify-content: center;
    color: white;
     font-size: 23px;
    text-align: center;
margin-top: 10px;
}
footer a{
    color: aliceblue;
}

#mybut{
    
    justify-content: center;
color: white;
    text-align: center;
    font-family:sans-serif;
    font-size: 20px;
text-decoration: underline
}
#contact a:hover{
    color: black;
    background-color: yellow;
    opacity: 0.5;
}
#contact {
    justify-content: center;
        height: 70%;
    width: 20%;
}
footer a{
    text-decoration: none;
}
     
/*****************************/
@media screen and (max-width:320px){
footer{
width: 390%;  
    }
    }
@media screen and (max-width:375px){
footer{
width: 335%;  
    }
    }
@media screen and (max-width:414px){
footer{
width: 304%;  
}
}

/**********************************************************/
center{
    margin-top: 10px;
    height: 100%;
    border-top :2px solid white;
    color: white;
  background-color:#58595B;
width: 100%;
}
 #media{
     color: aliceblue;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 50px;
    border-bottom:3px solid aliceblue;
}
center a{
    justify-content: center;
    font-size: 15px;
    margin: 1% 5%;
    color: lightslategray;
}
center i{
    color: white;
}
center i:hover{
    color: lightslategray;
    background-color: white;
}
center h4{color: antiquewhite;
    margin: 2% 0px 0px 0px;
}
/*************************************/
@media screen and (max-width:320px){
center{
width: 390%;
}
}
@media screen and (max-width:375px){
center{
width: 335%;
}
}
@media screen and (max-width:414px){
center{
width: 304%;
}
}











